:root {
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    color: var(--white);
    background-color: rgb(73, 20, 73);
    overflow: hidden;
}

header h1 {
    margin: 15px;
    text-align: center;
    color: var(--white);
    margin-bottom: 1rem;
}

main, header {
    width: 40%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main .palindrome-def {
    background-color:  rgba(255, 255, 255, 34%);
    padding: 1.2rem;
    border-radius: 13px;
}

.palindrome-def p {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 15px;
    letter-spacing: 1px;
    opacity: 0.8;
}

fieldset {
    border: none;
    border-radius: 13px;
    padding: 20px;
    font-size: 18px;
    color: #504d4d;
    background-color:  var(--white);
}

fieldset label {
    display: block;
    text-align: center;
}

fieldset #text-input {
    width: 40%;
    font-size: 16px;
    padding: 0.5rem;
    text-align: center;
    border: none;
    border-bottom: 2px solid #681964;
    border-bottom: 2px solid ;
    background: none;
    opacity: 0.6;
}

fieldset #check-btn {
    padding: 8px;
    width: 20%;
    font-size: 16px;
    border-radius: 6px;
    background: #469b4b;
    color: var(--white);
}

fieldset p {
    text-align: center;
    font-weight: 600;
    opacity: 0.8;
}