:root {
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: var(--white);
    background-color: rgb(73, 20, 73);
}

header h1 {
    text-align: center;
    color: var(--white);
}

main {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.palindrome-def, #check-div {
    width: 100%;
    margin: auto;
    padding: 1.5rem 0;
    border-radius: 13px;
}

main .palindrome-def {
    background-color:  rgba(255, 255, 255, 34%);
}

.palindrome-def p {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    opacity: 0.8;
}

#check-div { 
    font-size: 20px;
    font-weight: 300;
    color: #504d4d;
    background-color:  var(--white);
}

#check-div .enter-text {
    display: block;
    text-align: center;
}

#check-div .center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 1rem 0;
}

#text-input, #check-btn {
    font-size: 18px;
    padding: 10px;
    border: none;
}

#check-div #text-input {
    width: 40%;
    text-align: center;
    border-bottom: 2px solid #681964;
    background: none;
    opacity: 0.6;
}

#check-div #check-btn {
    width: 28%;
    border-radius: 4px;
    background: #469b4b;
    color: var(--white);
}

#check-div #result {
    text-align: center
}

@media (max-width: 768px) {
    main {
        width: 60%;
    }

    header h1 {
        font-size: 1.8rem;
    }

    #check-div { 
        font-size: 16px;
    }

    .palindrome-def p {
        font-size: 16px;
    }

    #text-input, #check-btn {
        font-size: 15px;
    }
}